timezone = "Europe/Rome"
apiurl = "https://api.telegram.org"
bottoken = "123456789:abcdefgh"
chatid = [ "-09876543210" ]
usersid = [ "123456789" ]
openaicompatibleid = [ "1234567890" ]
ouremail = "youremail@example.org"
openaiapikey = "sk-12345678901234567890"
deepseekapikey = "sk-12345678901234567890"
geminiapikey = "012345678890ABCD"
claudeapikey = "012345678890ABCD"
linksmsg = <<EOF
Here are some links for you:

(Google)[https://google.com]
(Facebook)[https://example.org]
EOF
